{:source-paths ["src"]
 :dependencies [[reagent "0.9.1"]
                [binaryage/oops "0.7.0"]
                [funcool/promesa "5.1.0"]]
 :nrepl {:port 9900}
 :builds {:server {:target :node-script
                   :output-to "main.js"
                   :main server.core/main!
                   :devtools {:after-load server.core/reload!}}}}
